# {{ ansible_managed }}
---
services:
  pihole:
    image: "{{ pihole_docker_image }}"
    hostname: "{{ pihole_docker_hostname }}"
    container_name: pihole
    restart: unless-stopped
    {%- if pihole_docker_environment and pihole_docker_environment | length %}
    environment:
      {%- for item in pihole_docker_environment %}
      - "{{ item }}"
      {%- endfor %}
    {%- endif %}
    env_file:
      - path: "{{ pihole_docker_path }}/pihole.env"
        required: false
    ports:
      - "127.0.0.1:8080:80/tcp"
      - "53:53/tcp"
      - "53:53/udp"
    dns:
      - "127.0.0.1"
      - "8.8.8.8"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "{{ pihole_docker_path }}/backups:/backups:rw"
      - "{{ pihole_docker_path }}/etc-pihole:/etc/pihole:rw"
      - "{{ pihole_docker_path }}/etc-dnsmasq.d:/etc/dnsmasq.d:rw"
