name: CI

on:
  pull_request:
  push:
    branches:
    - main
  schedule:
  - cron: "0 22 * * 0"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkou Repository
      uses: actions/checkout@v4

    - name: Setup Python3
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Insatll Python3 Requirements
      run: pip3 install yamllint

    - name: Lint YAML
      run: |
        yamllint -c .yamllint .
